@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

.edgecut {
  position: relative;
}
.edgecut::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-bottom: 20px solid black;
  border-left: 20px solid #3be5ff09;
  width: 0;
}
.edgecut::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  border-top: 20px solid #130e24;
  border-right: 20px solid #125e6900;
  width: 0;
}
/* #tsparticles {
  height: 200px !important;
} */
